/*
  Jedi Knights 2 Theme for phpBB version 2+
  Created by Scott Stubblefield
  http://www.realdealstubblefield.com
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body   {
	scrollbar-3dlight-color: #83A1C4;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-darkshadow-color: #435E78;
	scrollbar-face-color: #D2DEE7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #B5C3CE;
	scrollbar-track-color: #EFEFEF;
	background-color: #000000;
	background-image: url(images/stars_back_main.gif);
}

/* General font families for common tags */
font,th,td,p  {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:link,a:active,a:visited   {
	color: CCE3EE;
	text-decoration: none;
}
a:hover		 { color: #FFCC00; text-decoration: none}
hr	 { border-style: solid; border-width: 1px 0px 0px 0px; border-color: #000000; height: 0px }

.forumline	  {
	font-size: none;
	background-image: url(images/stars_back_lite.gif);
	border: solid 1px #000000;
}

/* Main table cell colours and backgrounds */
td.row1	  {
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
}
td.row2	   {
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
}
td.row3	  {
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic  {
}

/* Header cells - the blue and silver gradient backgrounds */
th	  { color: #CCE3EE; font-weight: bold; font-size: 11px; background: url(images/cellpic1.gif); height: 25px }

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom  { background: url(images/cellpic1.gif); height: 28px }


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 28px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR  { font-weight: bold; height: 28px }
td.row3Right,td.spaceRow   {
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
}

th.thHead,td.catHead  { font-size: 12px }
th.thSides,td.catSides,td.spaceRow	  { }
th.thRight,td.catRight,td.row3Right	  { }
th.thLeft,td.catLeft	   { }
th.thBottom,td.catBottom   { }
th.thTop	  { }
th.thCornerL  { }
th.thCornerR  { }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	 { color: #FFFFFF; font-weight: bold; font-size: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none }


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall {
	font-size : 10px;
}
.gen,.genmed,.gensmall  { color: #FFFFFF}
a.gen,a.genmed,a.gensmall   { color: #CCE3EE; text-decoration: none }
a.gen:hover,a.genmed:hover,a.gensmall:hover	  { color: #FFCC00; text-decoration: none}


/* The register, login, search etc links at the top of the page */
.mainmenu		  {
	color: #FFFFFF;
	font-size: 12px;
}
a.mainmenu		  {
	color: #FFFFFF;
	text-decoration: none;
}
a.mainmenu:visited  { color: #FFFFFF; text-decoration: none }
a.mainmenu:hover  { color: #FFCC00; text-decoration: none}


/* Forum category titles */
.cattitle		  {
	color: #CCE3EE;
	font-weight: bold;
	font-size: 11px;

}
a.cattitle		  { color: #CCE3EE; text-decoration: none }
a.cattitle:hover  { color: #FFCC00}


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		  { color: #FFFFFF; font-weight: bold; font-size: 12px }
a.forumlink 	  { color: #CCE3EE; text-decoration: none }
a.forumlink:hover  { color: #FFCC00; text-decoration: none}


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			  { color: #FFFFFF; font-weight: bold; font-size: 10px}
a.nav			  { color: #CCE3EE; text-decoration: none }
a.nav:visited  { color: #CCE3EE; text-decoration: none }
a.nav:hover		  { color: #FFCC00; text-decoration: none}


/* titles for the topics: could specify viewed link colour too */
.topictitle			  { color: #FFFFFF; font-weight: bold; font-size: 11px }
a.topictitle:link     { color: #CCE3EE; text-decoration: none }
a.topictitle:visited   {
	text-decoration: none;
	color: #94A6B0;
}
a.topictitle:hover	  { color: #FFCC00; text-decoration: none}


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			 { color: #FFCC00; font-size: 11px}

/* Location, number of posts, post date etc */
.postdetails		 {
	color: #FFFFFF;
	font-size: 10px;
}


/* The content of the posts (body of text) */
.postbody { font-size : 13px;}
a.postlink:link	  { color: #CCE3EE; text-decoration: none }
a.postlink:visited   { color: #CCE3EE; text-decoration: none }
a.postlink:hover   { color: #FFCC00; text-decoration: none}


/* Quote & Code blocks */
.code   {
	color: #000000;
	font-size: 13px;
	font-family: Courier, "Courier New", sans-serif;
	border: solid 1px #65492F;
	background-color: #CCCCCC;
      overflow: auto; max-height: 400px;
}

.quote   {
	color: #FFFFFF;
	font-style: italic;
	font-size: 12px;
	line-height: 125%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #000000;
	background-image: url(images/stars_back_main.gif);
	font-weight: normal;
}


/* Copyright and bottom info */
.copyright		 {
	color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.copyright		 { color: #FFFFFF; text-decoration: none }
a.copyright:hover  { color: #FFCC00; text-decoration: none}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select  { background-color: #CCE3EE}

/* The buttons used for bbCode styling in message post */
input.button  { color: #000000; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #CCE3EE}

/* The main submit button option */
input.mainoption  { font-weight: bold; background-color: #CCE3EE}

/* None-bold submit button */
input.liteoption  { font-weight: normal; background-color: #CCE3EE}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline  {
	border: none;
	color: #FFFFFF;
	background-image: url(images/stars_back_lite.gif);
}

/* DEBUT MOD Définitions CSS complémentaires */
img { border-style: none; }
.nowrap { white-space: nowrap; }
form { margin: 0; padding: 0; }

.smilie			  { color: #FFFFFF; font-weight: bold; font-size: 10px}
a.smilie			  { color: #CCE3EE; text-decoration: none }
a.smilie:visited  { color: #CCE3EE; text-decoration: none }
a.smilie:hover		  { color: #FFCC00; text-decoration: none}

fieldset { margin: 2px 30px; border: none; }
blockquote { margin: 0; padding: 3px; }
blockquote.code>div { white-space: nowrap; width: 100%; max-height: 400px; overflow: auto; }

/* Début Mod Bulle */
.hg {
	background:none;
	border:none;
	width:52px;
	height:33px;
	padding:0px;
	cursor:default;
}
.contenu {
	background:#D1DAFF;
	border-bottom:double 2px #000000;
	border-left:solid 1px #000000;
	border-right:double 2px #000000;
	border-top:solid 1px #000000;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	empty-cells:hide;
	cursor:default;
}
a.bubule {
   background: none;
   z-index: 5000;
   cursor:pointer;
   color:#000000;
   border-bottom:double #FFA384;
   text-decoration:none;
}
a:hover.bubule {
   background: none;
   z-index: 5000;
   cursor:pointer;
   color:#000000;
   text-decoration:none;
   border:none;
}
a.bubule div {
	display:none;
}
a:hover.bubule div {
	position:absolute;
	display:inline;
}

