/*
  The original SubSilverPlus Theme for phpBB version 2+
  Created by reddog
  http://www.reddevboard.com/
*/

body {
	background-color : #ecf0f6;
}
font, th, td, p {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
a:link, a:active, a:visited {
	text-decoration : none;
	color : #006699;
}
a:hover {
	text-decoration : none;
	color : #7a9ec5;
}
hr {
	border-top : 1px solid #d2d7f2;
	border-bottom : 1px solid #f5f7fc;
	width : 99%;
	height : 2px;
}
.bodyline {
	background-color : #ffffff;
	border : 1px solid #98aab1;
}
.forumline {
	background-color : #ffffff;
	border : 2px solid #006699;
}
.pmline {
	position : absolute;
	background-color : #eaedf4;
	border : 2px solid #006699;
	text-align : center;
	top : 50%;
	left : 50%;
	height : 100px;
	width : 300px;
	margin-top: -75px;
	margin-left: -150px;
	display: none;
}
td.row1 {
	background-color : #eaedf4;
}
td.row2 {
	background-color : #d9e2ec;
}
td.row3 {
	background-color : #cedcec;
}
td.rowpic {
	background-color : #ffffff;
	background-image : url('./images/css/cellpic2.jpg');
	background-repeat : repeat-y;
}
th {
	color : #deeef3;
	font-size : 11px;
	font-weight : bold;
	background-color : #0060b5;
	height : 25px;
	background-image : url('./images/css/cellpic3.gif');
}
td.cat, td.catHead, td.catSides, td.catLeft, td.catRight, td.catBottom {
	background-image : url('./images/css/cellpic1.gif');
	background-color : #eaedf4;
	border : #ffffff;
	border-style : solid;
	height : 28px;
}
td.cat, td.catHead, td.catBottom {
	height : 29px;
	border-width : 0;
}
th.thHead, th.thSides, th.thTop, th.thLeft, th.thRight, th.thBottom, th.thCornerL, th.thCornerR {
	font-weight : bold;
	border : #ffffff;
	border-style : solid;
	height : 28px;
}
td.row3Right, td.spaceRow {
	background-color : #cedcec;
	border : #ffffff;
	border-style : solid;
}
td.mpBar {
	border-left: 1px #BFCEDF solid;
	border-top: 1px #BFCEDF solid;
	border-right: 1px #EBF0F5 solid;
	border-bottom: 1px #EBF0F5 solid;
	background-color: #DCE4ED;
}
th.thHead, td.catHead {
	font-size : 12px;
	border-width : 1px 1px 0;
}
th.thSides, td.catSides, td.spaceRow {
	border-width : 0 1px;
}
th.thRight, td.catRight, td.row3Right {
	border-width : 0 1px 0 0;
}
th.thLeft, td.catLeft {
	border-width : 0 0 0 1px;
}
th.thBottom, td.catBottom {
	border-width : 0 1px 1px;
}
th.thTop {
	border-width : 1px 0 0;
}
th.thCornerL {
	border-width : 1px 0 0 1px;
}
th.thCornerR {
	border-width : 1px 1px 0 0;
}
.maintitle, h1, h2 {
	font-weight : bold;
	font-size : 22px;
	font-family : "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	line-height : 120%;
	color : #000000;
}
.gen {
	font-size : 12px;
}
.genmed {
	font-size : 11px;
}
.gensmall {
	font-size : 10px;
}
.gen, .genmed, .gensmall {
	color : #000000;
}
a.gen, a.genmed, a.gensmall {
	color : #006699;
	text-decoration : none;
}
a.gen:hover, a.genmed:hover, a.gensmall:hover {
	color : #7a9ec5;
	text-decoration : none;
}
.mainmenu {
	font-size : 11px;
	color : #000000;
}
a.mainmenu {
	text-decoration : none;
	color : #006699;
}
a.mainmenu:hover {
	text-decoration : none;
	color : #7a9ec5;
}
.cattitle {
	font-weight : bold;
	font-size : 12px;
	letter-spacing : 1px;
	color : #006699;
}
a.cattitle {
	text-decoration : none;
	color : #006699;
}
a.cattitle:hover {
	text-decoration : none;
}
.forumlink {
	font-weight : bold;
	font-size : 12px;
	color : #006699;
}
a.forumlink {
	text-decoration : none;
	color : #006699;
}
a.forumlink:hover {
	text-decoration : none;
	color : #7a9ec5;
}
.nav {
	font-weight : bold;
	font-size : 11px;
	color : #000000;
}
a.nav {
	text-decoration : none;
	color : #006699;
}
a.nav:hover {
	text-decoration : none;
}
.topictitle {
	font-weight : bold;
	font-size : 11px;
	color : #000000;
}
a.topictitle:link {
	text-decoration : none;
	color : #006699;
}
a.topictitle:visited {
	text-decoration : none;
	color : #5493b4;
}
a.topictitle:hover {
	text-decoration : none;
	color : #7a9ec5;
}
.name {
	font-size : 11px;
	color : #000000;
}
.postdetails {
	font-size : 10px;
	color : #000000;
}
.postbody {
	font-size : 12px;
}
a.postlink:link {
	text-decoration : none;
	color : #006699;
}
a.postlink:visited {
	text-decoration : none;
	color : #5493b4;
}
a.postlink:hover {
	text-decoration : none;
	color : #7a9ec5;
}
.code {
	font-family : Courier, 'Courier New', sans-serif;
	font-size : 11px;
	color : #006600;
	border-left: 1px #BFCEDF solid;
	border-top: 1px #BFCEDF solid;
	border-right: 1px #EBF0F5 solid;
	border-bottom: 1px #EBF0F5 solid;
	background-color: #E1E9F0;
}
.quote {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #444444;
	line-height : 125%;
	border-left: 1px #BFCEDF solid;
	border-top: 1px #BFCEDF solid;
	border-right: 1px #EBF0F5 solid;
	border-bottom: 1px #EBF0F5 solid;
	background-color: #E1E9F0;
}
.copyright {
	font-size : 10px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color : #444444;
	letter-spacing : -1px;
}
a.copyright {
	color : #444444;
	text-decoration : none;
}
a.copyright:hover {
	color : #000000;
	text-decoration : underline;
}
textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-left: 1px #BFCEDF solid;
	border-top: 1px #BFCEDF solid;
	border-right: 1px #EBF0F5 solid;
	border-bottom: 1px #EBF0F5 solid;
	background-color: #DCE4ED;
}
input.post, textarea.post, select {
	border-left: 1px #BFCEDF solid;
	border-top: 1px #BFCEDF solid;
	border-right: 1px #EBF0F5 solid;
	border-bottom: 1px #EBF0F5 solid;
	background-color: #DCE4ED;
}
input.post:focus,textarea.post:focus {
	background-color: #E1E9F0;
}
input {
	text-indent : 2px;
	color : #000000;
	font : normal 11px Verdana, Arial, Helvetica, sans-serif;
}
input.mainoption {
	background-color: #ecf0f6;
	color: #333;
	font-weight : bold;
	border: solid 1px #AFC2D8;
}
input.button,input.liteoption {
	background-color: #ecf0f6;
	color: #333;
	border: solid 1px #AFC2D8;
}
input.button:hover,input.mainoption:hover,input.liteoption:hover {
	border-color: #006699;
}
input.button:focus,input.mainoption:focus,input.liteoption:focus {
	color: #333; border-color: #006699;
}
.helpline {
	border-left: 1px #BFCEDF solid;
	border-top: 1px #BFCEDF solid;
	border-right: 1px #EBF0F5 solid;
	border-bottom: 1px #EBF0F5 solid;
	background-color: #DCE4ED;
}
.helpline:hover {
	background-color: #E1E9F0;
}
abbr, acronym {
	color : #444444;
	border-bottom : 1px dotted #333;
	cursor : help;
}
.absbottom {
	vertical-align: text-bottom;
}
input[id="autologin"] {
	margin : 1px;
	border : 1px solid black;
}
label {
	cursor : pointer;
}