/*
  The original Christmas #5 Theme for phpBB version 2+
  Created by reddog
  http://www.reddevboard.com/
*/

body {
	background-color : #efefef;
}
font, th, td, p {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
a:link, a:active, a:visited {
	color : #999999;
	text-decoration : none;
}
a:hover {
	text-decoration : none;
	color : #666666;
}
hr {
	border-top : 1px solid #e2e2e2;
	border-bottom : 1px solid #f5f7fc;
	width : 99%;
	height : 2px;
}
.bodyline {
	background : #ffffff url('./images/css/snowflakes_bkg.gif');
	border : 1px solid #333333;
}
.forumline {
	background-color : #f7f8fc;
	border : 1px solid #333333;
}
.pmline {
	position : absolute;
	background-color : #efefef;
	border : 1px solid #333333;
	text-align : center;
	top : 50%;
	left : 50%;
	height : 100px;
	width : 300px;
	margin-top: -75px;
	margin-left: -150px;
	display: none;
}
.topbkg {
	background: #ffffff url('./images/css/main_bg.jpg') repeat-x;
	border-bottom : 1px solid #333333;
}
.hdrbar {
	background : #ffffff url('images/css/sidebar_bg.gif');
	height : 20px;
	border-bottom : 1px solid #333333;
}
.ftrbar {
	background : #ffffff url('images/css/sidebar_bg.gif');
	height : 20px;
	border-top : 1px solid #333333;
}
td.row1 {
	background-color : #efefef;
}
td.row2 {
	background-color : #efefef;
}
td.row3 {
	background-color : #efefef;
}
td.rowpic {
	color : #666666;
	font-size : 11px;
	font-weight : bold;
	background-color : #dee3e7;
	height : 25px;
	background-image : url('./images/css/cellpic1.gif');
}
th {
	color : #666666;
	font-size : 11px;
	font-weight : bold;
	background-color : #d1d7dc;
	height : 25px;
	background-image : url('./images/css/cellpic3.gif');
}
td.cat, td.catHead, td.catSides, td.catLeft, td.catRight, td.catBottom {
	color : #666666;
	font-size : 11px;
	font-weight : bold;
	background-color : #dee3e7;
	height : 25px;
	background-image : url('./images/css/cellpic1.gif');
}
th.thHead, th.thSides, th.thTop, th.thLeft, th.thRight, th.thBottom, th.thCornerL, th.thCornerR {
	font-weight : bold;
	border : 0;
	height : 28px;
}
td.row3Right {
	background-color : #efefef;
	border : 0;
}
td.spaceRow {
	background : #e2e2e2 url('./images/css/candy.jpg');
	height : 8px;
	border : 0;
}
td.mpBar {
	border-left : 1px solid #e1e1e1;
	border-top : 1px solid #e1e1e1;
	border-right : 1px solid #fafafa;
	border-bottom : 1px solid #fafafa;
	background-color : #f0f0f0;
}
th.thHead, td.catHead {
	font-size : 12px;
	border-width : 1px 1px 0;
}
th.thSides, td.catSides {
	border-width : 0 1px;
}
th.thRight, td.catRight, td.row3Right {
	border-width : 0 1px 0 0;
}
th.thLeft, td.catLeft {
	border-width : 0 0 0 1px;
}
th.thBottom, td.catBottom {
	border-width : 0 1px 1px;
}
th.thTop {
	border-width : 1px 0 0;
}
th.thCornerL {
	border-width : 1px 0 0 1px;
}
th.thCornerR {
	border-width : 1px 1px 0 0;
}
.maintitle, h1, h2 {
	font-weight : bold;
	font-size : 22px;
	font-family : "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	line-height : 120%;
	color : #666666;
}
.gen {
	font-size : 12px;
}
.genmed {
	font-size : 11px;
}
.gensmall {
	font-size : 10px;
}
.gen, .genmed, .gensmall {
	color : #000000;
}
a.gen, a.genmed, a.gensmall {
	color : #999999;
	text-decoration : none;
}
a.gen:hover, a.genmed:hover, a.gensmall:hover {
	color : #666666;
	text-decoration : none;
}
.mainmenu {
	font-family : Arial;
	font-size : 12px;
	font-weight : bold;
}
a.mainmenu {
	text-decoration : none;
	color : #999999;
}
a.mainmenu:hover {
	text-decoration : none;
	color : #666666;
}
.cattitle {
	font-weight : bold;
	font-size : 12px;
	letter-spacing : 1px;
	color : #999999;
}
a.cattitle {
	text-decoration : none;
	color : #999999;
}
a.cattitle:hover {
	text-decoration : none;
}
.forumlink {
	font-weight : bold;
	font-size : 12px;
	color : #999999;
}
a.forumlink {
	text-decoration : none;
	color : #999999;
}
a.forumlink:hover {
	text-decoration : none;
	color : #666666;
}
.nav {
	font-weight : bold;
	font-size : 11px;
	color : #000000;
}
a.nav {
	text-decoration : none;
	color : #999999;
}
a.nav:hover {
	text-decoration : none;
}
.topictitle {
	font-weight : bold;
	font-size : 11px;
	color : #000000;
}
a.topictitle:link {
	text-decoration : none;
	color : #999999;
}
a.topictitle:visited {
	text-decoration : none;
	color : #006666;
}
a.topictitle:hover {
	text-decoration : none;
	color : #666666;
}
.name {
	font-size : 11px;
	color : #000000;
}
.postdetails {
	font-size : 10px;
	color : #000000;
}
.postbody {
	font-size : 12px;
}
a.postlink:link {
	text-decoration : none;
	color : #999999;
}
a.postlink:visited {
	text-decoration : none;
	color : #5493b4;
}
a.postlink:hover {
	text-decoration : none;
	color : #666666;
}
.code {
	font-family : Courier, 'Courier New', sans-serif;
	font-size : 11px;
	color : #006600;
	border-left : 1px solid #e1e1e1;
	border-top : 1px solid #e1e1e1;
	border-right : 1px solid #fafafa;
	border-bottom : 1px solid #fafafa;
	background-color : #f0f0f0;
}
.quote {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #444444;
	line-height : 125%;
	border-left : 1px solid #e1e1e1;
	border-top : 1px solid #e1e1e1;
	border-right : 1px solid #fafafa;
	border-bottom : 1px solid #fafafa;
	background-color : #f0f0f0;
}
.copyright {
	font-size : 10px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color : #444444;
	letter-spacing : -1px;
}
a.copyright {
	color : #444444;
	text-decoration : none;
}
a.copyright:hover {
	color : #000000;
	text-decoration : underline;
}
a.style {
	color : #666666;
	text-decoration : none;
}
a.style:hover {
	color : #999999;
	text-decoration : underline;
}
input, textarea, select {
	color : #000000;
	font : normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-left : 1px solid #e1e1e1;
	border-top : 1px solid #e1e1e1;
	border-right : 1px solid #fafafa;
	border-bottom : 1px solid #fafafa;
	background-color : #f0f0f0;
}
input.post, textarea.post, select {
	border-left : 1px solid #e1e1e1;
	border-top : 1px solid #e1e1e1;
	border-right : 1px solid #fafafa;
	border-bottom : 1px solid #fafafa;
	background-color : #f0f0f0;
}
input.post:focus, textarea.post:focus {
	background-color : #f5f5f5;
}
input {
	text-indent : 2px;
}
input.button {
	height : 16px;
	font-size : 10px;
	vertical-align : middle;
	color : #000;
	padding : 0 5px;
	padding-bottom : 3px;
	margin : 0 5px;
	margin-bottom : 3px;
	border : 1px solid #000;
	background : #f0f0f0 url('./images/css/button.gif') repeat-x top left;
}
input.mainoption {
	font-weight : bold;
}
input.liteoption {
	font-weight : normal;
}
input.mainoption, input.liteoption {
	height : 16px;
	font-size : 10px;
	vertical-align : middle;
	color : #000;
	padding : 0 5px;
	padding-bottom : 3px;
	margin : 0 5px;
	margin-bottom : 2px;
	border : 1px solid #000;
	background : #f0f0f0 url('./images/css/button.gif') repeat-x top left;
}
input.mainoption:hover, input.liteoption:hover {
	color : #999999;
	background : #f0f0f0 url('./images/css/button.gif') repeat-x bottom left;
}
.helpline {
	background-color : #dee3e7;
	border-style : none;
}
abbr, acronym {
	color : #444444;
	border-bottom : 1px dotted #333;
	cursor : help;
}
.absbottom {
	vertical-align: text-bottom;
}
input[id="autologin"] {
	margin : 1px;
	border : 1px solid black;
}
label {
	cursor : pointer;
}