/*
  Darkages Theme for phpBB version 2+
  Created larme d'ange
  http://artlineaire.free.fr/larmestyles
*/

/* General page style. The scroll bar colours only visible in IE5.5+ */ 
body { 
	
        background-image: url(images/1.gif) 
	scrollbar-face-color: #2f2f2f;
	scrollbar-highlight-color: #e7cf5c;
	scrollbar-shadow-color: #2f2f2f;
	scrollbar-3dlight-color: #3a3a3a;
	scrollbar-arrow-color:  #8e7709;
	scrollbar-track-color: #212121;
	scrollbar-darkshadow-color: #212121;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #555555; }
a:hover		{ text-decoration: underline; color : #b2981d; }
hr	{ height: 0px; border: solid #3a3a3a 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */ 
.bodyline {background-color: none; border: 1px #e7cf5c solid; 
background-image: url(images/ffeuille.gif); } 


/* This is the outline round the main forum tables */
.forumline	{ background-color: #3a3a3a; border: 2px #2f2f2f solid; }
.forumline2	{ background-color: #859875; 
   background-repeat: yes; 
}


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #3a3a3a; }
td.row2	{ background-color: #2f2f2f; }
td.row3	{ background-color: #212121; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #3a3a3a;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #8e7709; font-size: 11px; font-weight : bold;
	background-color: #b2981d; height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
			background-color:#859875; border: #2f2f2f; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #3a3a3a; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #859875; border: #3a3a3a; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #e7cf5c;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #e7cf5c; }
a.gen,a.genmed,a.gensmall { color: #b2981d; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #ffe463; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #e7cf5c }
a.mainmenu		{ text-decoration: none; color : #b2981d;  }
a.mainmenu:hover{ text-decoration: underline; color : #ffe463; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #b2981d}
a.cattitle		{ text-decoration: none; color : #b2981d; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #b2981d; }
a.forumlink 	{ text-decoration: none; color : #b2981d; }
a.forumlink:hover{ text-decoration: underline; color : #ffe463; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #e7cf5c;}
a.nav			{ text-decoration: none; color : #b2981d; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #b2981d; }
a.topictitle:visited { text-decoration: none; color : #859875; }
a.topictitle:hover	{ text-decoration: underline; color : #ffe463; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #e7cf5c;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #e7cf5c; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #b2981d }
a.postlink:visited { text-decoration: none; color : #859875; }
a.postlink:hover { text-decoration: underline; color : #ffe463}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #8e7709;
	background-color: #859875; border: #8e7709; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
	overflow: auto; max-height: 400px;
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #555555; line-height: 125%;
	background-color: #859875; border: #8e7709; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666; letter-spacing: -1px;}
a.copyright		{ color: #666666; text-decoration: none;}
a.copyright:hover { color: #e7cf5c; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #e7cf5c;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #e7cf5c;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #3a3a3a;
}

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #859875;
	color : #e7cf5c;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #859875;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #859875;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #2f2f2f; border-style: none; }

/* Début Mod Bulle */
.hg {
	background:none;
	border:none;
	width:52px;
	height:33px;
	padding:0px;
	cursor:default;
}
.contenu {
	background:#D1DAFF;
	border-bottom:double 2px #000000;
	border-left:solid 1px #000000;
	border-right:double 2px #000000;
	border-top:solid 1px #000000;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	empty-cells:hide;
	cursor:default;
}
a.bubule {
   background: none;
   z-index: 5000;
   cursor:pointer;
   color:#000000;
   border-bottom:double #FFA384;
   text-decoration:none;
}
a:hover.bubule {
   background: none;
   z-index: 5000;
   cursor:pointer;
   color:#000000;
   text-decoration:none;
   border:none;
}
a.bubule div {
	display:none;
}
a:hover.bubule div {
	position:absolute;
	display:inline;
}

fieldset { margin: 2px 30px; border: none; }
blockquote { margin: 0; padding: 3px; }
blockquote.code>div { white-space: nowrap; width: 100%; max-height: 400px; overflow: auto; }
